.main {
  display: grid;
  grid-template-columns: repeat(12, 72px);
  gap: 24px;
}

.bio {
  grid-column: span 5;
}
.posts {
  grid-column: span 7;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
