* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-plt-primary: 211;
  --color-plt-secundary: 0;
  --color-plt-secundary-saturation: 10;

  --color-background-600: hsl(var(--color-plt-primary), 100%, 50%);
  --color-background-500: hsl(var(--color-plt-primary), 100%, 60%);
  --color-background-400: hsl(var(--color-plt-primary), 100%, 70%);
  --color-background-300: hsl(var(--color-plt-primary), 100%, 80%);
  --color-background-200: hsl(var(--color-plt-primary), 100%, 90%);
  --color-background-100: hsl(var(--color-plt-primary), 100%, 98%);

  --color-text-600: hsl(var(--color-plt-secundary), 0%, 20%);
  --color-text-500: hsl(var(--color-plt-secundary), 0%, 60%);
  --color-text-400: hsl(var(--color-plt-secundary), 0%, 70%);
  --color-text-300: hsl(var(--color-plt-secundary), 0%, 80%);
  --color-text-200: hsl(var(--color-plt-secundary), 0%, 98%);
  --color-text-100: hsl(var(--color-plt-secundary), 0%, 98%);
}
html,
body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
