.photo {
  display: flex;
  width: 100%;
  height: 450px;
  background: var(--color-plt-primary-900);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.wrapper {
  max-width: 750px;
  margin: 0 auto;
  padding: 48px 0;

  .date {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--color-text-300);
    padding: 8px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    span {
      color: var(--color-plt-primary);
    }
  }
}

.details {
  .title {
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4.8rem;
    color: var(--color-text-200);
    text-align: center;
  }
  .excerpt {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--color-text-200);
    padding: 10px 0 20px 0;

    text-align: center;
    text-align: center;
  }
  .author {
    padding: 20px 0;
    border-top: 1px solid var(--color-background-200);

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.main {
  max-width: 750px;
  margin: 0 auto;
  > p {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--color-text-200);
  }
  > blockquote {
    width: 100%;
    padding: 16px 0 16px 24px;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--color-text-300);

    border-left: 3px solid var(--color-background-300);
    margin: 16px 0;
  }
  > ul {
    list-style: none;
    margin: 16px 0;
    li {
      font-weight: 400;
      font-size: 1.6rem;
      color: var(--color-text-300);
    }
  }
  > img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
  }
}

.posts {
  margin-top: 68px;
  padding: 20px 0;
  border-top: 1px solid var(--color-background-200);
  h2 {
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--color-text-200);
    margin-bottom: 18px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}
