.wrapper__post {
  background: var(--color-background-300);
  width: 100%;
  max-width: 1000px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
  .post__cover {
    width: 100%;
    height: 200px;
    background: rgb(7, 22, 44);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .tag {
    display: inline-block;

    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--color-plt-primary);

    margin-top: 4px;
    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }
  }
  .title {
    font-weight: 600;
    font-size: 2.8rem;
    color: var(--color-text-100);
    margin-top: 4px;
    max-width: 100%;
    cursor: pointer;
    transition: color, ease-in-out 200ms;

    &:hover {
      color: var(--color-plt-primary);
      text-decoration: underline;
    }

    @media screen and (max-width: 768px) {
      font-size: 2.4rem;
    }
  }
}

.post__details {
  padding: 16px 38px;
  .metadata {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 1.4rem;
    color: var(--color-text-500);
    padding-top: 10px;

    .date {
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 400;
      font-size: inherit;
      color: inherit;
    }
    @media screen and (max-width: 768px) {
      font-size: 1.2rem;
    }
  }
  .excerpt {
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--color-text-500);

    padding: 10px 0 20px 0;
    @media screen and (max-width: 768px) {
      font-size: 1.4rem;
    }
  }
}

.button {
  border: 1px solid var(--color-background-100);
  height: 40px;
  padding: 0 32px;
  transition: border, ease-in-out 400ms;
  cursor: pointer;
  font-size: 1.4rem;
  &:hover {
    border: 1px solid var(--color-plt-primary);
    color: var(--color-plt-primary);
    background: var(--color-background-500);
  }
  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
  }
}
