.wrapper {
  margin-top: 62px;
  padding: 16px 0;
  border-top: 1px solid var(--color-background-200);
  .head {
    font-weight: 600;
    font-size: 2.8rem;
    color: var(--color-text-200);
    text-align: center;
    margin-bottom: 18px;
  }
}
